version: "3.9"

services:

  web:
    build: .
    container_name: mysite
    ports:
      - "80:80"
    restart: always
    depends_on:
      - api
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: mydb
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - db_data:/var/lib/postgresql/data
  api:
    build: ../backend
    container_name: myapi
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"


volumes:
  db_data:

